oi grandad/Images/SAVE.afdesign
oi grandad/Images/qexp.afdesign
oi grandad/Images/Patecatl.afdesign
oi grandad/Images/close.afdesign
oi grandad/Images/blueish.png
*.zip
*.ndx
.DS_Store
.DS_Store
/oi grandad/DspNetworks/Binaries
/oi grandad/AudioFiles x
/oi grandad/Binaries
oi grandad/PooledResources/AudioResources.dat
