<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>OiGrandad2</string>
			<key>factoryFunction</key>
			<string>DemoProjectAUFactory</string>
			<key>manufacturer</key>
			<string>Msms</string>
			<key>name</key>
			<string>modularsamples: OiGrandad2</string>
			<key>resourceUsage</key>
			<dict>
				<key>network.client</key>
				<true/>
				<key>temporary-exception.files.all.read-write</key>
				<true/>
			</dict>
			<key>subtype</key>
			<string>Msog</string>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>131587</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>23H420</string>
	<key>CFBundleDisplayName</key>
	<string>OiGrandad2</string>
	<key>CFBundleExecutable</key>
	<string>OiGrandad2</string>
	<key>CFBundleIdentifier</key>
	<string>com.modularsamples.product</string>
	<key>CFBundleName</key>
	<string>OiGrandad2</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.2.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.5</string>
	<key>DTSDKBuild</key>
	<string>23F73</string>
	<key>DTSDKName</key>
	<string>macosx14.5</string>
	<key>DTXcode</key>
	<string>1540</string>
	<key>DTXcodeBuild</key>
	<string>15F31d</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>2024 MS</string>
</dict>
</plist>
